@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Roboto+Slab:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color:white;
}

.navbar{
    float:center;
    display:block;
    overflow: hidden;
    color:#dddddd;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #574074;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.772) 0px 5px 20px -5px;
} 
.botaohome:hover{
    cursor:pointer; 
    background-color: #574074; 
    box-shadow: 0 0px 50px 0 #251933;
    border:solid;
    border-width:1px;
    border-color: #574074;

}
.botaohome:active{
    transition:background-color 1s color 0.5s;
    background-color: #c7bdbd;
    color:#45226f;
}

.botaohome{
    margin:10px;
    border-radius:4px;
    padding-right:20px;
    padding-left:20px;
    border:solid; 
    border-width:1px;
    color: #dddddd;
    background-color:#574074;
    border-color: #574074;
    transition: background-color 0.5s, box-shadow 0.5s,
    border 0.5s, border-width 0.5s,color 1s;
}
.botaocidades{
    margin:10px;
}
h1{
    color:#574074;  
    margin-left: 4%;
}
#h1{
    display:flex;
    justify-content: center;
    margin-left: -4%;
}
.card{
    border-radius: 8px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    background-color:  #574074;
    color:#ffffff;
    width: 280px;
    height: 280px;
    transition: margin-top 0.5s, margin-bottom 0.5s, box-shadow 0.5s, border 0.5s;
}
.card:hover{
    cursor:pointer;
    box-shadow: 10px 20px 20px 0 rgba(255, 255, 255, 0.165);
    box-shadow: 10px 20px 20px 0px #453953;
    margin-top: -10px;
    margin-bottom: 10px;
}
.imagemCard{
    border-radius:8px;
}
.cardsindex{
    display:flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;  
    padding-top:5%;
    padding-bottom:10%;
    padding-left:10%;
    padding-right:10%;
}
.cardMiniatura{
    margin:15px;
}


.tituloCard{
    display:flex;
    justify-content: center;
}
#titulosite{
    color:#574074;
    margin-left: 4%;
    margin-right: 4%;
    display:flex;
    flex-direction:row;
    align-items: space-around;
    align-content: center;
    flex-wrap:nowrap;
}
.titulocidade{
    color:#574074;
}
.grupoMunicipio{
    border-radius:10px;
    margin: 4%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color:#574074;
    background-color: #F0F0F5;
    border:solid;
    border-width:thin;
    border-color:#574074;
}

.grupo:hover{
    background-color: #D0D7E8;
    box-shadow: 0px 20px 50px 10px rgba(59, 53, 64, 0.491);
    font-size: 17px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: solid;
    border-width: thin;
    border-color:rgba(58, 9, 86, 0.535);
    border-radius:15px;
    margin: 10px;
}
.grupo{
    border:solid;
    border-width:1px;
    margin:5px;
    border-radius:5px;
    padding-left: 5%;
    padding-right: 5%;
    color:#574074;
    background-color: #EAEEF5;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.4s, font-size 0.5s, padding-top 0.5s,
        padding-bottom 0.5s, box-shadow 0.5s, border 0.5s, border-width 0.5s,
        border-color 0.5s, border-radius 0.5s, margin 0.5s;
}

.imagemtitulocidade{
    border-radius: 50%;
    width:60px;
    margin: 10px;
    max-height: 60px;
}
.botaoAcessar:hover{
    background-color: #705295;
    cursor:pointer;
    color: white;
    text-decoration:none;
}
.botaoAcessar{
    text-decoration:none;
    transition:background-color 0.5s, color 0.5s;
    font-family: '#F0F0F5;', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #e0e0eb;
    color:#59585a;
    border-radius:15px;
    width:8%;
    height: 35px;
}

.cardPlanoMiniatura:hover{
    background-color: #574074;
    box-shadow: 0px 20px 50px 10px rgba(59, 53, 64, 0.491);
    font-size: 17px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: solid;
    color:#dddddd;
    border-width: thin;
    border-color:rgba(58, 9, 86, 0.535);
    border-radius:15px;
    margin: 10px;
    cursor:pointer;
}

.cardPlanoMiniatura{
    transition: border-color 0.5s, background-color 0.5s, box-shadow 0.5s,
     font-size 0.5s, padding-top 0.5s, padding-bottom 0.5s, margin 0.5s, border-radius 0.5s, color 0.5s;
    margin-bottom: 12px;
    text-align: center;
    border:solid;
    border-width:1px;
    border-radius:5px;
    color:#574074;  
    background-color: #f0efef;
    height: 8vh;
    width:80vw;     
}